/* declaration variable + tag principaux */
html {
    /* on peut le faire dans la balise :root {} */
    /* on declare une couleur, on lui donne un nom et une valeur */
    --bg-color: white;
    --text-color: black;
    --h1-color: black;
    --h2-color: white;
    --h2-bg-color: rgb(0, 0, 0);

    --h2-border-color: aquamarine;
    --shadow: black;
    --border-undeline: black;
    font-family: 'Rubik', sans-serif;
    animation: rightThenLeft .5s linear;
}

@keyframes rightThenLeft {
    0% {
        /* right: 100%; */
        transform: translateX(100%);
    }

    100% {
        /* right: 0; */
        transform: translateX(0);
    }
}

body {
    font-size: 62.5%;
    background-color: var(--bg-color);
}

h1 {
    transition: 2s;
    transition-timing-function: ease-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    text-align: center;
    color: var(--h1-color);
    border-radius: 5px;

}

h2 {
    color: var(--h2-color);
    background-color: var(--h2-bg-color);
    font-size: 1.5rem;
    display: block;
    margin: 45px 1% 25px;
    padding: .5rem 1rem;
    border-bottom: 2px solid var(--h2-border-color);
    border-left: 2px solid var(--h2-border-color);
    box-shadow: 1px -1px 1px var(--shadow);
    border-radius: 5px;

}

p {
    font-size: 1.2rem;
    display: block;
    margin: 2px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header {
    position: relative;
    padding: .5rem;
}

footer {
    width: 96%;
    text-align: center;
    font-size: 1.1rem;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;

}

/* photo de profil */
.portrait {
    display: block;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 2px 2px 5px var(--shadow);
}

/* css pour le boutton */
.interupteur {
    margin-right: 0px;
    position: absolute;
    visibility: hidden;
    top: 1%;
    right: 0px;
}


button img {
    position: sticky;
    visibility: visible;
    width: 2rem;
    height: 2rem;
    right: 1%;
}

/* css pour le style du boutton interupteur theme */
.inter {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
    display: block;
    border-radius: 30%;
    box-shadow: inset 0px 4px 10px black;
    background: linear-gradient(#E7E7E7), #D0D0D0);
    /* box-shadow: inset 0 3px 3px #fff, inset 0 -5px 5px rgba(0, 0, 0, .18); */
}

.inter img {
    position: absolute;
    visibility: hidden;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;

}

.inter:hover {
    box-shadow: 0px 4px 10px black;
    background: linear-gradient(#E7E7E7), #D0D0D0);
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, .45);
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, .3);
    /* box-shadow: inset 0 3px 3px rgba(255, 255, 255, .45), inset 0 -5px 5px rgba(0, 0, 0, .3); */
}

/* la div principale */
.container {
    width: 95%;
    margin: 2.5%;
    padding-bottom: 1%;
    box-shadow: 4px 4px 7px var(--shadow);
    border-radius: 5px;
}

/* phrase d'accroche */
header p {
    text-align: center;
}

/* style au survol des icones de liens */
.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--border-undeline);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* smartphones, touchscreens */
/* @media (hover: none) and (pointer: coarse) {
} */
/* Desktop/Laptop + Touchscreen */
/* @media (any-hover:hover) and (any-pointer:fine) and (any-pointer:coarse) {
} */


/* réglage spécifique pour quelque icone */
.align_middle {
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
}

div.lien_réseaux {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.lien_réseaux a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    font-size: 1.5rem;
    padding: 5px 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--border-undeline);

}

.icone {
    height: 1rem;
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: 0.5rem;
    display: inline-block;
    filter: invert(100%);
    transition: height 1s;

}

.icone[alt='logo css3'] {
    /* filter: invert(0%); */

}

#logoDev {
    display: flex;
    flex-wrap: wrap;
}

#logoDev:hover .icone {
    height: 2rem;
}

.icone:hover {
    height: 3rem;

}



.lien_réseaux img {
    display: inline;
    vertical-align: middle;
    max-height: 2rem;
    margin-left: 10px;
    margin-right: auto;
}

/* css pour contenu */
.entreprise {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.entreprise ul {
    width: 90%;

}

.poste {
    font-size: 1.1rem;
    font-weight: bold;
}

time {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid var(--border-undeline);
}

li {
    display: block;
    margin: 2% 1%;
    font-size: 1rem;
    list-style: circle;
}

#formations li {
    margin-bottom: 20px;
}

#competences p {
    display: inline;
}

.detail-formation--container {
    float: right;
    font-size: smaller;
}

.detail-formation--list-item {
    
}
.detail-formation--list-item:hover {
    text-decoration: underline;
}

/* pour ajouter la fleche avant */
#competences li:before {
    /* → */
    content: "⥤ ";
    /* caractère UTF-8 */
}

section ul {
    margin: 2% 2%;
}

#interets p {
    padding: 0 2% 5% 2%;
}

#logoDev {
    display: flex;
}

/* menu accordeon */
.accordion {}

.list-xp{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 5px;

}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 5px;

}

.external__link{
    text-decoration: underline #777;
}


/* partie gauche et droite pour affichage >1200px */
.left {
    display: none;
    float: initial;
    transition: 2s;
    transition-timing-function: ease-out;
}

.right {
    display: none;
    float: initial;
    transition: 2s;
    transition-timing-function: ease-out;
}

/* css pour la page galerie */
.defilement {
    width: 98%;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    animation-name: diapo;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.defilement img {
    width: 98%;
    visibility: hidden;
}

@keyframes diapo {
    0% {
        background-image: url(../image/diaporama/Cie-Ankaa-13.jpg);
        background-size: cover;
    }

    11% {
        background-image: url(../image/diaporama/Cie-Ankaa-31.jpg);
        background-size: cover;
    }

    22% {
        background-image: url(../image/diaporama/Cie-Ankaa-90.jpg);
        background-size: cover;
    }

    33% {
        background-image: url(../image/diaporama/Masterclass-3.jpg);
        background-size: cover;
    }

    44% {
        background-image: url(../image/diaporama/Masterclass-5.jpg);
        background-size: cover;
    }

    55% {
        background-image: url(../image/diaporama/Masterclass-6.jpg);
        background-size: cover;
    }

    66% {
        background-image: url(../image/diaporama/R_IMG_1.jpg);
        background-size: cover;
    }

    78% {
        background-image: url(../image/diaporama/R_IMG_2.jpg);
        background-size: cover;
    }

    90% {
        background-image: url(../image/diaporama/R_IMG_3.jpg);
        background-size: cover;
    }

    100% {
        background-image: url(../image/diaporama/Cie-Ankaa-13.jpg);
        background-size: cover;
    }
}

/* pour le bouton retour de la page galerie supprimé */
#retour {
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1rem;
    float: left;
    color: black;
    /* style au survol des icones de liens */

    position: relative;
}

#retour::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--border-undeline);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* mouse, touch pad */
@media (any-hover:hover) and (any-pointer:fine) {
    #retour:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* smartphones, touchscreens */
/* @media (hover: none) and (pointer: coarse) {
} */
/* Desktop/Laptop + Touchscreen */
/* @media (any-hover:hover) and (any-pointer:fine) and (any-pointer:coarse) {
} */

/* css pour le formulaire contact */
form {
    padding: 2%;
}

input[type=text],
input[type=email],
select,
textarea {
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 98%;
    padding: .3rem;
}

label {
    font-size: 1.1rem;
    display: block;
    padding: .3rem;

}

input[type=submit] {
    font-size: 1.1rem;
    color: var(--h2-color);
    background-color: var(--h2-bg-color);
    border-color: var(--h2-border-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    margin-top: .5rem;
    transition: 1s;
    transition-timing-function: ease-out;
}

input[type=submit]:hover {
    font-size: 1.5rem;
    color: var(--h2-bg-color);
    background-color: var(--h2-color);
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#progress {
    background-color: var(--h1-color);
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    /* Peut être important si vous le menu est en position fixe */
    z-index: 9999;
}



#time {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--h2-bg-color);
    animation-fill-mode: backwards;
    margin-top: 5px;
    background: repeating-linear-gradient(-60deg,
            rgb(0, 0, 0, .5) 0,
            black 10px,
            aquamarine 10px,
            white 20px) 0 / 200%;
    animation: progress-bar 50s linear infinite;
}


@keyframes progress-bar {
    to {
        background-position: 100% 0;
    }
}

#trainingtime {
    width: 39%;
    height: .5rem;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--h2-color);
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;

}

#trainingtime p {
    margin-left: .3rem;

}

/* mise en page pour différentes tailles d'écran 600, 800 puis 1200px */
@media screen and (min-width: 600px) {

    h1 {
        font-size: 3.2rem;

    }

    .lien_réseaux {
        transition: 2s;
        transition-timing-function: ease-out;
        width: 60%;
    }

    .portrait {
        width: 10rem;
        transition: 2s;
        transition-timing-function: ease-out;
    }

    /* pour le formulaire */

    input[type=submit] {
        width: 60%;
        margin-left: 20%;
        margin-right: auto;
    }

}

@media screen and (min-width: 800px) {

    h1 {
        font-size: 4rem;
    }

    div.lien_réseaux {
        width: 95%;
        flex-direction: column;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .lien_réseaux a {

        display: flex;
        font-size: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1rem;
    }

    header p {
        font-size: 1.5rem;
    }

    .lien_réseaux img {
        margin-left: auto;
        margin-right: auto;
    }

    .align_middle {
        margin-left: 10px;
    }

    .underline {
        font-size: 1rem;
    }

    /* 
    #coordonees {
        margin: 2% 5% 1% 5%;
    } */

    .portrait {
        width: 10rem;
        transition: 2s;
        transition-timing-function: ease-out;
    }

}

@media screen and (min-width:1200px) {


    header {
        display: grid;
        grid-row: 25% 25% 25% 25%;
        grid-column: 33% 33% 34%;
    }

    h1 {
        margin-top: 2rem;
        margin-left: auto;
        grid-row: 1;
        grid-column: 1;
    }

    h2 {
        margin-top: 1rem;
    }

    header p {
        grid-row: 2;
        grid-column: 1;
    }

    .portrait {
        grid-row: 1/3;
        grid-column: 2;
    }

    div.lien_réseaux {
        grid-row: 3;
        grid-column: 1/3;

    }

    .left {
        display: block;
        float: left;
        width: 35%;
        margin-top: 15px;

    }

    .right {
        display: block;
        float: right;
        width: 65%;
        background-color: rgba(156, 219, 221, 0.137);
        border-radius: 5px;
        margin-top: 15px;
    }

    /* pour le formulaire */

    input[type=text],
    input[type=email],
    textarea {
        width: 75%;
        float: right;
        margin-top: 6px;
    }

    select {
        width: 76%;
        float: right;
        margin-top: 6px;
        background-color: var(--bg-color);
    }

    label {
        width: 20%;
        float: left;
        margin-top: 6px;
        border-radius: 4px;
    }

    input[type=submit] {
        width: 40%;
        margin-left: 30%;
        margin-right: auto;
    }

}