html {
    /* on peut le faire dans la balise :root {} */
    /* on declare une couleur, on lui donne un nom et une valeur */
    --bg-color: lightgrey;
    --bg-color-titre: red;
    --color-fond-titre: white;
    background-color: chartreuse;
}


body {
    font-size: 62.5%;
    background-color: var(--bg-color);
}

.container {
    width: 95%;
    margin: 2.5%;
    box-shadow: 2px 2px 5px black;
}

a {
    text-decoration: none;
    color: black;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

h1 {
    display: block;
    color: blue;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}


header {
    background-color: red;
    padding: .5rem;
}

#name {
    /* float: left; */
    display: block;
    text-align: center;

}

.portrait {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

#coordonees {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 5% 2% 5%;
}

#coordonees p,
#coordonees div {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
}

#coordonees span {
    margin-left: 9%;
}

.align_middle {
    display: inline;
    height: 1.5rem;
    margin-right: 5px;
    vertical-align: middle;
}

#icone_maps {
    display: inline;
    height: 1.5rem;
    margin-right: 5px;
    vertical-align: baseline;

}


.lien_réseaux {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
}

.lien_réseaux img {
    display: inline;
    height: 2rem;
}

.entreprise {
    font-weight: bold;
    font-size: 1.2rem;
}

.poste {
    font-size: 1.1rem;
}

h2 {
    color: brown;
    font-size: 1.5rem;
    background-color: aquamarine;
    display: block;
    padding: .5rem 1rem;
}

p,
time {
    font-size: 1rem;
    display: inline;
    margin: 2% 1%;
}

li {
    display: block;
    margin: 2% 1%;
    font-size: 1rem;
    list-style: circle;
}

li:before {
    content: "→ ";
    /* caractère UTF-8 */
}

section {
    background-color: antiquewhite;
    border: 2px solid blue;
}

section ul {
    margin: 2% 2%;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
        color: chartreuse;
    }

    .lien_réseaux {
        width: 60%;
    }

}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 4rem;
        color: crimson;
    }

    .lien_réseaux {
        width: 75%;
    }

    #coordonees {
        margin: 2% 5% 1% 5%;
    }
}

@media screen and (min-width:1200px) {
    h1 {
        width: 40%;
        color: darkorange;
        float: left;
        display: inline;
    }

    .lien_réseaux {
        width: 35%;
    }
}